= form_for @news, :html => { multipart: true } do |f|
  - if @news.errors.any?
    #error_explanation
      %h2= "#{pluralize(@news.errors.count, "error")} prohibited this news from being saved:"
      %ul
        - @news.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :headline
    = f.text_area :headline, class: 'tinymce'
  .field
    = f.label :content
    = f.text_area :content, class: 'tinymce'
  .field
    = f.label :link
    = f.text_field :link
  .field
    = f.label :image
    = f.file_field :image
  .actions
    = f.submit 'Save'
