- page_title! 'Edit news ' + @news.title

%header
  %h2.page-title
    .caption
      Edit news 
      = content_tag(:b, @news.title)
  %span.crud-date
    %span.created_at
      Product created at:
      = l @news.created_at, :format => :long
    %span.updated_at
      Last update:
      = l @news.updated_at, :format => :long
  
  .administrate.create
    = link_to 'Back', news_index_path, class: 'btn btn-back'
    = link_to 'Show', @news, class: 'btn btn-show'

.content
  .content-inner
    = render 'form'


