= render 'scripts/tiny_mce'

%header
  %h2.page-title
    .caption
      = page_title! 'News'

  - if current_admin
    .administrate.create
      = link_to 'Create New', new_news_path, class: 'btn btn-primary'

.content
  .content-inner

    #news-presentation
      %h3.page-sub-title
        Working with the Media
      %p
        Kaptive is a line of products under one brand. We are a company in constant development and we want to share our achievements with you. Find out the latest news.

    - @news.each do |news|
      %div{:class => 'resumen-id ' + cycle('break', '', 'third-col')}
        - if news.image?
          = link_to image_tag(news.image_url(:thumb)), news
        %h3.sub-title
          = link_to news.title, news
        %p
          = truncate(news.content, :length => 145)
        - if news.link
          = link_to 'Read more', news.link, class: 'link link-read-more', :target => '_blank'
        - else
          = link_to 'Read more', news, class: 'link link-read-more'
        - if current_admin
          .administrate.iterate
            = link_to 'Show', news, class: 'button button-show'
            = link_to 'Edit', edit_news_path(news), class: 'button button-update'
            = link_to 'Destroy', news, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button button-delete'


