
%header
  %h2.page-title
    .caption
      = page_title! 'News'

  //- if current_admin
  .administrate.create
    = link_to 'Crear Noticia', new_news_path, class: 'btn btn-primary'

.content
  .content-inner

    #news-presentation
      %h3
        Working with the Media
      %p
        As a company, NWPI seek long lasting and strong relationships with our media partners. Our objective is to work together to build an environmentally friendly culture: full of wellness.

    - @news.each do |news|
      .resumen-id
        = image_tag news.image_url(:thumb) if news.image?
        %h3
          = news.title
        %p
          = truncate(news.content, :length => 145)
        = link_to 'Read more', news, class: 'link link-read-more'
        .administrate.iterate
          = link_to 'Show', news
          = link_to 'Edit', edit_news_path(news)
          = link_to 'Destroy', news, :method => :delete, :data => { :confirm => 'Are you sure?' }


