
%header
  %h2.page-title
    .caption
      = page_title! 'Contact Us'

  - if current_admin
    .administrate.create
      = link_to 'Crear Noticia', new_news_path, class: 'btn btn-primary'

.content
  .content-inner
    %p.form-instructions.page-sub-title
      If you have any question or requirements, please contact us using the form below.
    .contact-wrapper
      = render 'form'

      .contact-address
        = raw(@metadata.address)
      .contact-info
        Email:
        = mail_to @metadata.email
        %br
        Website:
        = link_to @metadata.web, 'http://' + @metadata.web
        %br
        Kaptive:
        = link_to @metadata.kaptive, 'http://' + @metadata.kaptive
