%header
  %h2.page-title
    .caption
      = page_title! 'Contact Details'

  - if current_admin
    .administrate.create
      = link_to 'Back', contacts_path, class: 'button button-back'
      = link_to 'Destroy', @contact, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'button button-delete'



%section.content
  .content-inner
    %table.table.table-striped.table-bordered
      %tbody
        %tr
          %td{colspan: 2}
            %b
              Name:
            .campo-tabla
              = @contact.name

        %tr
          %td
            %b
              Email:
            = @contact.email
          %td
            %b
              Fecha
            = l @contact.created_at, :format => :long
        %tr
          %td{colspan: 2}
            %b
              Message:
            .campo-tabla
              = @contact.message
