%p#notice= notice

%p
  %b Logo:
  = image_tag @metadatum.logo_url(:small) if @metadatum.logo?
%p
  %b Phone:
  = @metadatum.phone
%p
  %b Facebook:
  = @metadatum.facebook
%p
  %b Twitter:
  = @metadatum.twitter
%p
  %b Email:
  = @metadatum.email
%p
  %b Web:
  = @metadatum.web
%p
  %b Kaptive:
  = @metadatum.kaptive
%p
  %b Address:
  = @metadatum.address

= link_to 'Edit', edit_metadatum_path(@metadatum)
