

%header
  %h2.page-title
    .caption
      = page_title! 'About us'

  - if current_admin
    .administrate.create
      = link_to 'Edit', edit_about_path(@about), class: 'button button-update'



%section.content
  .content-inner
    %figure.figure-about
      = image_tag @about.image_url if @about.image?
    .figcaption-about
      %h3.title
        .caption
          OUR COMPANY
      %span.sub-title
        .caption
          We are a functional foods company that develop original products that respond to consumers in the modern world.

    .about-content.about-primary-content
      .about-field
        %h3 NWPI History
        = paragraph(@about.history)
        = link_to 'New World Products International', 'http://www.nworldp.com/about.html', :class => 'link link-foundation', :target => '_blank'

    .about-content.about-secondary-content
      .about-field
        = image_tag @about.commitment_image_url, class: 'img-commitment' if @about.commitment_image?
        %h3 Our Commitment
        = raw(@about.commitment)
        = link_to 'Cuzco Development Foundation', 'http://www.nworldp.com/foundation.html', :class => 'link link-foundation', :target => '_blank'
      .about-field
        = image_tag @about.vision_image_url, class: 'img-vision' if @about.vision_image?
        %h3 Vision
        = raw(@about.vision)
      .about-field
        = image_tag @about.mission_image_url, class: 'img-mission' if @about.mission_image?
        %h3 Mission
        = raw(@about.mission)
      .about-field
        = image_tag @about.values_image_url, class: 'img-values' if @about.values_image?
        %h3 Values
        = raw(@about.values)
