

%header
  %h2.page-title
    .caption
      = page_title! 'About us'

  //- if current_admin
  .administrate.create{:style => 'display: none'}
    = link_to 'Edit', edit_about_path(@about), class: 'button button-update'



%section.content
  .content-inner
    %figure.figure-about
      = image_tag @about.image_url if @about.image?
    .figcaption-about
      %h3.title
        .caption
          Coca Leaf
      %span.sub-title
        .caption
          The health benefits of the natural Coca-Leaf have been known for thousands of years.

    .about-content.about-primary-content
      .about-field
        %h3 NWPI History
        = raw(@about.history)

    .about-content.about-secondary-content
      .about-field
        = image_tag @about.commitment_image_url if @about.commitment_image?
        %h3 Our Commitment
        %p
          = raw(@about.commitment)
      .about-field
        = image_tag @about.vision_image_url if @about.vision_image?
        %h3 Vision
        %p
          = raw(@about.vision)
      .about-field
        = image_tag @about.mission_image_url if @about.mission_image?
        %h3 Mission
        %p
          = raw(@about.mission)
