%p#notice= notice

%p
  %b Image
  = image_tag @about.image_url if @about.image?
%p
  %b History:
  = @about.history
%p
  %b Commitment:
  = @about.commitment
%p
  %b Vision:
  = @about.vision
%p
  %b Mission:
  = @about.mission

= link_to 'Edit', edit_about_path(@about)
