- @products.each do |product|
  
  .resumen-id.indexed
    .linea-vertical
      .linea-horizontal
    %h3.title
      .caption
        = link_to truncate(product.name, length: 36, omission: ''), product
    %span.sub-title
      .caption
        = truncate(product.caption, length: 50, omission: '')

    -#
      .resumen-content
        .productos-imagen
          = image_tag product.bottle_url(:thumb) if product.bottle?

        .productos-preview
          %span.product-label
            Our brand
          %p
            = truncate(product.preview, length: 100)

        = link_to 'Read more', product, :class => 'link link-read-more'
