= form_for @product, :html => { multipart: true } do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :content
    = f.cktext_area :content, :toolbar => 'Full', :width => '100%', :height => '400px'
  .field
    = f.label :preview
    = f.text_area :preview
  .field
    = f.label :bottle
    = f.file_field :bottle
  .actions
    = f.submit 'Save'
