= content_for :javascript do
  = javascript_include_tag 'http://localhost:3000/javascripts/ckeditor/ckeditor.js'

%h1 Editing product

= render 'form'

= link_to 'Show', @product
\|
= link_to 'Back', products_path
