= content_for :javascript do
  = javascript_include_tag 'http://localhost:3000/javascripts/ckeditor/ckeditor.js'

- page_title! 'Edit product ' + @product.name

%header
  %h2.page-title
    .caption
      Edit product
      %b
        = truncate(@product.name, length: 50)
  %span.crud-date
    %span.created_at
      Product created at:
      = l @product.created_at, :format => :long
    %span.updated_at
      Last update:
      = l @product.updated_at, :format => :long

  .administrate.create
    = link_to 'Back', products_path, class: 'btn btn-back'
    = link_to 'Show', @product, class: 'btn btn-show'

.content
  .content-inner
    = render 'form'



