= render 'scripts/carousel_evolution'



%header
  %h2.page-title{:style => 'display:none'}
    .caption
      = page_title! 'Products'

  - if current_admin
    .administrate.create
      = link_to 'New Product', new_product_path, class: 'btn btn-primary'


.content
  .content-inner
    <!-- BEGIN CAROUSEL -->
    .carousel
      <!-- BEGIN SLIDES -->
      .slides
        - @products.each do |product|
          <!-- SLIDE ITEM -->
          .indexed
            = image_tag product.bottle_url(:blurred) if product.bottle?

    .product-description
      .linea-vertical
        .linea-horizontal
      - @products.each do |product|
        .resumen-id.indexed
          %h3.title
            .caption
              = truncate(product.name, length: 22)
          %span.sub-title
            .caption
              = truncate(product.description, length: 22)

          .resumen-content
            .productos-imagen
              = image_tag product.bottle_url(:thumb) if product.bottle?

            .productos-preview
              %span.product-label
                Our brand
              %p
                = truncate(product.preview, length: 100)

            = link_to 'Read more', product, :class => 'link link-read-more'


