%h1 Listing products

%table
  %tr
    %th
    %th Name
    %th Description
    %th Content
    %th Preview
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %th= image_tag product.bottle_url(:regular) if product.bottle?
      %td= product.name
      %td= product.description
      %td= product.content
      %td= product.preview
      %td= image_tag product.bottle_url(:thumb) if product.bottle?
      %td= image_tag product.bottleback_url(:thumb) if product.bottleback?
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
