= render 'scripts/carousel_evolution'



%header
  %h2.page-title
    .caption
      = page_title! 'Productos'

  //- if current_admin
  .administrate.create
    = link_to 'Crear Producto', new_product_path, class: 'btn btn-primary'



.content
  .content-inner
    <!-- BEGIN CAROUSEL -->
    .carousel
      <!-- BEGIN SLIDES -->
      .slides
        - @products.each do |product|
          <!-- SLIDE ITEM -->
          .indexed
            = image_tag product.bottle_url(:blurred) if product.bottle?

    .product-description
      - @products.each do |product|
        .resumen-id.indexed
          %h3.title
            = product.name
            %span
              = product.description

          .productos-imagen
            = image_tag product.bottle_url(:thumb) if product.bottle?

-#
    = product.description
  = product.content
  = product.preview
  = image_tag product.bottle_url(:thumb) if product.bottle?
  = image_tag product.bottleback_url(:thumb) if product.bottleback?
  = link_to 'Show', product
  = link_to 'Edit', edit_product_path(product)
  = link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

