- page_title! 'Kaptive | The brand of choice for active and healthy consumers'

= render 'scripts/carousel_evolution'

#slogan-wrapper
  %h2.slogan
    The brand of choice for active and healthy consumers
%header
  %h2.page-title{:style => 'display:none'}
    .caption
      Products

.content
  .content-inner
    <!-- BEGIN CAROUSEL -->
    .carousel
      <!-- BEGIN SLIDES -->
      .slides
        - @products.each do |product|
          <!-- SLIDE ITEM -->
          .indexed
            = image_tag product.bottle_url(:regular) if product.bottle?
        - @products.each do |product|
          <!-- SLIDE ITEM -->
          .indexed
            = image_tag product.bottle_url(:regular) if product.bottle?
        - @products.each do |product|
          <!-- SLIDE ITEM -->
          .indexed
            = image_tag product.bottle_url(:regular) if product.bottle?


    .product-description
      .linea-vertical
        .linea-horizontal
      = render 'carousel_index'
      = render 'carousel_index'
      = render 'carousel_index'

  = render 'shared/facebook_follow'


