
%header
  %h2.page-title
    .caption
      = page_title! 'Productos'
  - if current_admin
    .administrate.create
      = link_to 'New Product', edit_product_path(@product), class: 'button button-create'
      = link_to 'Edit', edit_product_path(@product), class: 'button button-update'
      = link_to 'Delete', edit_product_path(@product), class: 'button button-delete'

  = render 'carousel'

  


.content
  .producto-imagen
    = image_tag @product.bottle_url(:regular) if @product.bottle?
  .producto-detalles
    .linea-vertical
      .linea-horizontal
    %h3.title
      .caption
        = truncate(@product.name, length: 25)
    %span.sub-title
      .caption
        = paragraph(@product.description)

    .producto-benefit
      %h4.box-title
        PRODUCT BENEFIT
      .producto-benefit-inner
        = paragraph(@product.content)




  


