%p#notice= notice

- @bottles.each do |bottle|
  = link_to image_tag(bottle.bottle_url(:little)), product_url(bottle)

%p
  %b Name:
  = @product.name
%p
  %b Description:
  = @product.description
%p
  %b Content:
  = @product.content
%p
  %b Preview:
  = @product.preview
%p
  %b Bottle:
  = image_tag @product.bottle_url(:regular) if @product.bottle?
%p
  %b Bottle Back:
  = image_tag @product.bottleback_url(:regular) if @product.bottleback?

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
