:javascript
  $(document).ready(function(){
    $('.producto-imagen').hover(
    function() {
      $(this).children(".bottle-back").show();
      $(this).children(".bottle-front").hide();
    },
    function() {
      $(this).children(".bottle-front").show();
      $(this).children(".bottle-back").hide();
    }
    );
  });

- page_title! @product.name

%header
  %h2.page-title
    .caption
      Products
  - if current_admin
    .administrate.create
      = link_to 'New Product', new_product_path, class: 'button button-create'
      = link_to 'Edit', edit_product_path(@product), class: 'button button-update'
      = link_to 'Delete', @product, method: :delete, class: 'button button-delete'

  = render 'carousel_show'

.content
  .producto-imagen
    = image_tag @product.bottle_url(:regular), class: 'bottle-front' if @product.bottle?
    = image_tag @product.bottleback_url(:regular), class: 'bottle-back' if @product.bottleback?
  .producto-detalles
    .linea-vertical
      .linea-horizontal
    %h3.title
      .caption
        = truncate(@product.name, length: 36, omission: '')
    %span.sub-title
      .caption
        = paragraph(@product.description)

    .producto-benefit
      %h4.box-title
        PRODUCT BENEFIT
      .producto-benefit-inner
        = paragraph(@product.content)







