%ul
  %li.first
    = link_to_unless_current 'Home', root_path do
      %span Home
  %li
    = link_to_unless_current 'Products', 'djalonso_index_path' do
      %span Products
  %li
    = link_to_unless_current 'About', '' do
      %span About
  %li
    = link_to_unless_current 'News', '' do
      %span News
  %li.last
    = link_to_unless_current 'Contact', '' do
      %span Contact
  %li{:style => 'display: none'}
    = link_to_unless_current 'Cerrar Sesión', '' do
      %span Cerrar Sesión




                                
